.Admi {
  font-family: "Merriweather", sans-serif;
  position: absolute;
}
.logo {
  position: absolute;
  width: 260px;
  height: 150px;
  left: 0px;
  top: 460px;
}
.titleAdmi {
  position: absolute;
  width: 800px;
  height: 160px;
  left: 250px;
  top: -2px;
}
.containerAdmi {
  position: absolute;
  width: 668px;
  height: 417px;
  left: 320px;
  top: 185px;
  background: #e3e09a;
  border-radius: 15px;
}
.buttonTrabajadores {
  position: absolute;
  width: 228px;
  height: 72px;
  left: 210px;
  top: 100px;
  background: #d594c6;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 70px;
  text-align: center;
  color: #000000;
}
.buttonInventario {
  position: absolute;
  width: 228px;
  height: 72px;
  left: 210px;
  top: 250px;
  background: #94aed5;
  border-radius: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 70px;
  text-align: center;
  color: #000000;
}
.atras {
  position: absolute;
  width: 50px;
  height: 50px;
  left: 1190px;
  top: 540px;
}
