@import url("https://fonts.googleapis.com/css?family=Merriweather Sans");
body {
  font-family: "Merriweather Sans", sans-serif;
}
.containerFoto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px; 
}
.logofinal {
  width: 650px;
  height: auto; 
  margin-top: 0;
  margin-left: 355px;
}
.buttonAdmi {
  position: absolute;
  width: 228px;
  height: 72px;
  left: 270px;
  top: 580px;
  background: #da9898;
  border-radius: 5px;
}
.buttonCocina {
  position: absolute;
  width: 228px;
  height: 72px;
  left: 832px;
  top: 580px;
  background: #93c06f;  
  border-radius: 5px;
}
.buttonMesero {
  position: absolute;
  width: 228px;
  height: 72px;
  left: 555px;
  top: 580px;
  background: #d5b794;
  border-radius: 5px;
}
.buttonText {
  position: absolute;
  width: 179px;
  height: 16px;
  left: 20px;
  top: 28px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
