.Login {
  font-family: "Merriweather", sans-serif;
  position: relative;
}
.logo{
  position: absolute;
  width: 300px;
  height: 272px;
  left: 932px;
  top: 0px;  
}
.logoBottom{
  position: absolute;
  width: 300px;
  height: 272px;
  left: 12px;
  top: 523px;
}
.loginImg {
  position: absolute;
  height: 220px;
  width: 416px;
  left: 367px;
  top: 8px;
  border-radius: 0px;
}
.containerCafe {
  position: absolute;
  height: 417px;
  width: 668px;
  left: 250px;
  top: 246px;
  border-radius: 15px;
  background: #e3e09a;
}
.inputEmail {
  position: relative;
  height: 53px;
  width: 433px;
  margin-left: 120px;
  margin-top: 80px;
  border-radius: 5px;
}
.inputPassword {
  position: relative;
  height: 53px;
  width: 433px;
  margin-left: 120px;
  margin-top: 50px;
  border-radius: 5px;
}
.errorMessage {
  position: absolute;
  width: 179px;
  height: 16px;
  left: 330px;
  top: 389px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #cc1313;
}
.buttonLogin {
  position: relative;
  background: #fd6161;
  font-weight: bold;
  border-radius: 5px;
  width: 280px;
  height: 53px;
  margin-left: 200px;
  margin-top: 80px;
}
