.Mesero {
  font-family: "Merriweather", sans-serif;
  position: absolute;
}
.logo {
  position: absolute;
  width: 260px;
  height: 150px;
  left: 1100px;
  top: 0px;
}
.pedidos {
  position: absolute;
  width: 416px;
  height: 125.14px;
  left: 420px;
  top: 6px;
}
nav ul,
nav ul li {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 16px;
  margin-left: 155px;
  margin-top: 73px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 10px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  width: 200px;
  font-family: "Merriweather", sans-serif;
}
button.selected {
  background-color: #d4b794;
  border-radius: 5px;
  font-style: bolder;
}
.carrito {
  position: absolute;
  width: 330px;
  height: 444px;
  left: 980px;
  top: 200px;
  background: #d5b794;
  border-radius: 5px;
}
.carritoTitle {
  position: absolute;
  width: 229px;
  height: 16px;
  margin-left: 50px;
  margin-top: 15px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
.informacionCliente {
  position: absolute;
  width: 214px;
  height: 43px;
  margin-left: 45px;
  margin-top: 60px;
  border-radius: 10px;
}
.informacionCliente::placeholder {
  position: absolute;
  width: 249px;
  height: 16px;
  left: 771px;
  top: 324px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.23);
}
.nohayproductos {
  position: absolute;
  width: 229px;
  height: 16px;
  margin-left: 50px;
  margin-top: 150px;
}
.productosSeleccionados {
  position: absolute;
  width: 289px;
  height: 250px;
  margin-left: -20px;
  margin-top: 25px;
  background:white;
  border-radius: 5px;
}
.total {
  position: absolute;
  width: 229px;
  height: 16px;
  margin-left: 50px;
  margin-top: 375px;
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}
