.Mesero {
  font-family: "Merriweather", sans-serif;
  position: relative;
}
.logo {
  position: relative;
  width: 260px;
  height: 150px;
  left: 1100px;
  top: 0px;
}
.pedidos {
  position: relative;
  width: 416px;
  height: 125.14px;
  left: 200px;
  top: -30px;
}
nav ul,
nav ul li {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 16px;
  margin-left: 155px;
  margin-top: -10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  font-family: "Merriweather", sans-serif;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 10px;
}
button {
  font-family: "Merriweather", sans-serif;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  width: 200px; 
}
.selectedButton {
  background-color: #d4b794;
  border-radius: 5px;
}
.container {
  border: 1px solid #E3E09A;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.image {
  width: 100px;
  height: 100px;
}
.name {
  font-size: 16px;
  font-weight: bold;
}
.price {
  font-size: 14px;
  color: black;
}
