.font-custom {
  font-family: "Merriweather", sans-serif;
}
nav ul,
nav ul li {
  position: relative;
  display: inline-block;
  width: 350px;
  height: 16px;
  margin-left: 155px;
  margin-top: 60px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  margin-right: 10px;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 5px 10px;
  width: 200px;
}
button.selected {
  background-color: #d4b794;
  color: white;
  border-radius: 5px;
  font-style: bolder;
  font-family: "Merriweather", sans-serif;
}
